<!DOCTYPE html>
<html ng-app="nipp">
  <head>
    <meta charset="utf-8">
    <title>nipp</title>
    <meta name="description" content="URL Hosted Mini Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Opal -->
    <script defer src="https://cdn.opalrb.com/opal/current/opal.min.js" onload="Opal.load('opal')"></script>
    <script defer src="https://cdn.opalrb.com/opal/current/opal-parser.min.js" onload="Opal.load('opal-parser')"></script>

    <!-- AngularJS -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script defer src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="mainCtrl">
      <textarea ng-model="rubyScript" placeholder="Ruby: (e.g. 140 - s.size)" cols="30" rows="10"></textarea>
      <textarea ng-model="inputText" placeholder="Input" ng-change="run()" cols="30" rows="10"></textarea>
      <textarea ng-value="outputText()" placeholder="Output" cols="30" rows="10"></textarea>
    </div>
  </body>
</html>