<!--<!DOCTYPE html>-->
<html ng-app="nipp">
  <head>
    <meta charset="utf-8">
    <title>nipp</title>
    <meta name="description" content="URL Hosted Mini Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Opal -->
    <script defer src="bower_components/opal/opal/0.11.3/opal.min.js"></script>
    <script defer src="bower_components/opal/opal/0.11.3/opal-parser.min.js"></script>

    <!-- URL parse -->
    <script defer src="node_modules/url-parse/dist/url-parse.min.js"></script>

    <!-- Pako (zlib) -->
    <script defer src="node_modules/pako/dist/pako.min.js"></script>

    <!-- LZMA -->
    <script defer src="node_modules/lzma/src/lzma_worker-min.js"></script>

    <!-- AngularJS -->
    <script defer src="node_modules/angular/angular.min.js"></script>
    <script defer src="js/app.js"></script>

    <!-- Babel (standalone) -->
    <script defer src="node_modules/@babel/standalone/babel.min.js"></script>

    <!-- Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Pure.css -->
    <link rel="stylesheet" href="node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" href="node_modules/purecss/build/grids-responsive-min.css">
  </head>
  <body>
    <div ng-controller="mainCtrl">

      <div class="pure-g">
        <input type="text" ng-model="pageTitle" placeholder="Page title" class="pure-u-11-12">
        <!--<button class="pure-u-1-12" ng-click="window.open('https://twitter.com/share?text=' + encodeURIComponent('fff'),'','scrollbars=yes,width=500,height=300,');">Twitter</button>-->
        <button class="pure-u-1-12" ng-click="shareOnTwitter()">Twitter</button>
      </div>

      <div class="pure-g">
        <textarea ng-model="script" placeholder="Script: (e.g. 140 - s.size)" rows="10" class="pure-u-1"></textarea>
      </div>
      <select ng-options="t.name for t in transpilers" ng-change="onChangeTranspiler()" ng-model="transpiler">
      </select>

      <select ng-options="a.name for a in compressionAlgs" ng-model="compressionAlg">
      </select>

      <div class="pure-g">
        <textarea ng-model="inputText" ng-change="onChangeInputText()" placeholder="Input" rows="10" class="pure-u-1 pure-u-md-1-2"></textarea>
        <textarea ng-value="outputText" placeholder="Output" rows="10" class="pure-u-1 pure-u-md-1-2"></textarea>
      </div>

    </div>
  </body>
</html>