name: main

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm ci
      - run: npm run build
      - name: Google Search Console
        run: 'echo "google-site-verification: ${{ secrets.GOOGLE_SITE_VERIFICATION_CODE }}.html" > dist/${{ secrets.GOOGLE_SITE_VERIFICATION_CODE }}.html'

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v0.2.0
        with:
          publish-dir: './dist'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
